.create-poll-wrapper {

    .form-header {
        text-align: center;
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form-title {
            margin-right: 2%;
        }

        .form-item {
            margin-right: 25%;
        }
    }
}