.navbar{
    height: 30px;
    background-color: #3d5a80;
    padding: 13px;
    align-items: center;
    
}

.col2{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: end;
    margin-left: 90%;
    margin-top: 0.3%;
}
